html {
  background-color: #dae2ef;
}

.container-fluid {
  background-color: #dae2ef;
}
.backEndQuestions, .frontEndPage, .languagesExperienceDiv, .howMuchExperienceDiv, .languagesDesireDiv, .rubyWinDiv, .phpWinDiv, .javaWinDiv, .cssWinDiv, .cSharpWinDiv, .rubyWinDiv2nd, .phpWinDiv2nd, .javaWinDiv2nd, .cssWinDiv2nd, .cSharpWinDiv2nd {
  display: none;
  background-color: #dae2ef;
  width: 100%;
}

#introHeader, #frontOrBackEnd {
  text-align: center;
}

a {
  font-size: 30px;
  color: black;
}

#userNameHeaderRow, #userNameRow {
  text-align: center;
  width: 100%;
}

.frontEndPage p {
  font-size: 70px;

}

.introQuestions, .languagesDesireDiv, .howMuchExperienceDiv, .frontEndPage, .languagesExperienceDiv {
  margin-top: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


#submitFrontBackEnd {
  display: inline-block;
  border-radius: 12px;
  background-color: green;
  border: 1px dashed pink;
  color: white;
  text-align: center;
  width: 500px;
  height: 200px;
  font-size: 25px;
}
